
<div class="row custom-row">
    <div class= "col-sm-6 custom-container jumbotron">
         
    <form novalidate (ngSubmit)="onFormSubmit(signupForm)" #signupForm="ngForm" class="form-horizontal">
          <fieldset>
            <legend>Address</legend>
           
              
              <div class="form-group">
                <label for="inputstreet">street</label>
                <input type="text" [(ngModel)]="address.street"  id="inputstreet" name="inputstreet" placeholder="street">
              </div>
              
              <div class="form-group">
                <label for="inputstreetTwo">streetTwo</label>
                <input type="text" [(ngModel)]="address.streetTwo" id="inputstreetTwo"  name="inputstreetTwo"   placeholder="streetTwo">
              </div>
       
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" [(ngModel)]="address.city" id="city" name="city" placeholder="city">
              </div>
              
              <div class="form-group">
                <label for="state">state</label>
                <input type="text" [(ngModel)]="address.state" id="state" name="state" placeholder="state">
              </div>

              <div class="form-group">
                <label for="pinCode">pinCode</label>
                <input type="text" [(ngModel)]="address.pinCode" id="pinCode" name="pinCode" placeholder="pinCode">
              </div>

              <div class="form-group">
                <label for="phone">phone</label>
                <input type="text" [(ngModel)]="address.phone" id="phone" name="phone" placeholder="phone">
              </div>

              <div class="form-group">
                <label for="dailyPkgLimit">dailyPkgLimit</label>
                <input type="text" [(ngModel)]="address.dailyPkgLimit" id="dailyPkgLimit" name="dailyPkgLimit" placeholder="dailyPkgLimit">
              </div>


             <!--- Buttons Block -->
             <div class="form-group ">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-success" [disabled]="!signupForm.form.valid"> Submit</button>
                    </div>
            </div>
          </fieldset>
      </form>
      {{address | json}}
    </div>
  </div>