
<div class="row custom-row">
    <div class= "col-sm-5 custom-container jumbotron">
         
    <form novalidate (ngSubmit)="onFormSubmit(signupForm)" #signupForm="ngForm" class="form-horizontal">
          <fieldset>
            <legend>Login</legend>
           
              
              <div class="form-group">
                <label for="username">User name</label>
                <input type="text" [(ngModel)]="account.username"  id="username" name="username" placeholder="User name">
              </div>
              
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" [(ngModel)]="account.password"  id="password" name="password" placeholder="Password">
              </div>
              
              
             <!--- Buttons Block -->
             <div class="form-group ">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a class="btn btn-default" href="#signup">Signup</a>
                        <button type="submit" class="btn btn-success" [disabled]="!signupForm.form.valid"> Login</button>
                    </div>
            </div>
          </fieldset>
      </form>
      {{address | json}}
    </div>
  </div>