
<div *ngIf="address">
    
    <table>
   	 <tr>
   		 <td><label>ID: </label></td>
   		 <td>{{address.id}}</td>
   	 </tr>
   	 <tr>
   		 <td><label>Street: </label></td>
   		 <td><input [(ngModel)]="address.street" placeholder="Street" /></td>
   	 </tr>
   	 <tr>
   		 <td><label>2nd Street: </label></td>
   		 <td><input [(ngModel)]="address.stree2" placeholder="Street 2" /></td>
   	 </tr>
   	 <tr>
   		 <td><label>City: </label></td>
   		 <td><input [(ngModel)]="address.city" placeholder="City" /></td>
    </tr>
    <tr>
        <td><label>State: </label></td>
        <td><input [(ngModel)]="address.state" placeholder="State" /></td>
    </tr>
    <tr>
        <td><label>Country: </label></td>
        <td><input [(ngModel)]="address.country" placeholder="Country" /></td>
    </tr>
    <tr>
        <td><label>Pin code: </label></td>
        <td><input [(ngModel)]="address.pin_code" placeholder="Pin code" /></td>
    </tr>
    </table>

    <div class="col-lg-10 col-lg-offset-2">
        <button type="button" class="btn btn-success"(click)="updateAddress(address)" > Updte </button>
   </div>

</div>